body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom, #C4D0EF , white);
  overflow: hidden;
  font-family: 'PT Serif', serif;
}

h2 {
  margin: 0;
  font-weight: normal;
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 4vw;
  letter-spacing: 2px;
}

#menu {
  z-index: 2;
}
    
  #menu-bar {
    width: 30px;
    height: 40px;
    margin: 30px 0 10px 20px;
    cursor: pointer;
  }
    
  .bar {
    height: 5px;
    width: 100%;
    background-color: #97a0a6;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }

  #bar1 {
    transform: translateY(-4px);
  }
    
  #bar3 {
    transform: translateY(4px);
  }

  .nav {
    transition: 1.2s ease;
    display: none;
  }

  .nav li {
    list-style: none;
    padding: 12px 0;
  }

  .nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }

  .nav li a:hover {
    font-weight: bold;
  }

  .menu-bg, #menu {
    top: 0;
    left: 0;
    position: absolute;
  }

  .menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 0 20px;
    background: radial-gradient(circle, #05dcbf, #d7dff0);
    filter:blur(10px);
    border-radius: 50%;
    transition: 0.7s ease;
  }
    
  .change {
    display: block;
    
  }

  .change .bar {
    background-color: white;
  }

  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }

  .change #bar2 {
    opacity: 0;
  }

  .change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }

  .change-bg {
    width: 70vh; /** Width of the blown out menu*/
    height: 70vh; /** Height of the blown out menu */
    transform: translate(-60%,-30%);
  }


[class*="gooey"]
  { filter: blur(20px);
    z-index: -2;
    animation:gooey 15s ease-in-out infinite alternate}


.gooey1 {
  background: #C6D3F4;
  width: 30vw;
  height: 50vh;
  bottom: -5vh;
  left: -5vw;
  border-radius: 50%;
  position: absolute;
}

.gooey2 {
  background: #C9F0CD;
  width: 40vw;
  height: 60vh;
  top: -10vh;
  left: 10vw;
  border-radius: 50%;
  position: absolute;
}

.gooey3 {
  background: #F2E3CC;
  width: 40vw;
  height: 60vh;
  top: -10vh;
  right: -10vw;
  border-radius: 50%;
  position: absolute;
}

.gooey4 {
  background: #F2DEDE;
  width: 40vw;
  height: 60vh;
  bottom: -10vh;
  right: 15vw;
  border-radius: 50%;
  position: absolute;
}

@keyframes gooey {
  0% {
    border-radius: 26% 74% 61% 39% / 54% 67% 33% 46%;
  }
  10% {
    border-radius: 74% 26% 47% 53% / 68% 46% 54% 32%;
  }
  20% {
    border-radius: 48% 52% 30% 70% / 27% 37% 63% 73%;
  }
  30% {
    border-radius: 73% 27% 57% 43% / 28% 67% 33% 72%;
  }
  40% {
    border-radius: 63% 37% 56% 44% / 25% 28% 72% 75%;
  }
  50% {
    border-radius: 39% 61% 70% 30% / 61% 29% 71% 39%;
  }
  60% {
    border-radius: 27% 73% 29% 71% / 73% 51% 49% 27%;
  }
  70% {
    border-radius: 39% 61% 65% 35% / 74% 65% 35% 26%;
  }
  80% {
    border-radius: 55% 45% 37% 63% / 38% 30% 70% 62%;
  }
  90% {
    border-radius: 25% 75% 70% 30% / 39% 50% 50% 61%;
  }
  100% {
    border-radius: 66% 34% 33% 67% / 65% 73% 27% 35%;
  }
}

.footer {
  position: absolute;
  bottom: 7vh;
  left: 50vw;
  transform: translateX(-50%);
  text-align: center;
  margin: 0;
}

  .footer h3 {
    font-weight: normal;
    padding:  0 2vw 0 2vw;
    margin: 0;
    font-size: 1.2vw;
  }

  .stressLevelContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
  }

  .stressCircle {
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
  }

  .stressCircle#High {
    background-color: #FF7D7D;
  }

  .stressCircle#Moderate {
    background-color: #FFC165;
  }

  .stressCircle#Low {
    background-color: #83D286;
  }

  .stress-legend {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1vh 2vw 0 2vw;
  }

  .stress-legend p {
    padding-left: 0.5vw;
  }


.patient {
  padding-top: 10vh;
  width: 100%;
  height: 80%;
  
}

.patient-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}
  

