* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "PT Serif", serif;
  list-style: none;
  font-size: 1vw;
}

.homepage {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, #c4d0ef, white);
}

.navbar {
  background-color: white;
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homepage#blur.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

.popupDetails {
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 50%;
  padding: 2vh;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  background: #fff;

  display: none;

  border: 2px solid red;
  background-color: yellow;
  z-index: 1000;
}

.popupDetails.active {
  display: block;
  top: 50%;
  visibility: visible;
  border-radius: 5vh;
  opacity: 1;
  transition: 0.5s;
  z-index: 1000;
}

#popup {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0%;
  height: 50%;
  padding: 2vh;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  background: #fff;
  visibility: visible;
  opacity: 0;
  transform: 0.5s;
  display: none;
}

#popup.active {
  display: block;
  top: 50%;
  visibility: visible;
  border-radius: 5vh;
  opacity: 1;
  transition: 0.5s;
  z-index: 5;
}

#close {
  width: 1vw;
  padding: 1vh 1vw;
}

#patientForm {
  display: flex;
  flex-direction: column;
  padding: 1vh 1vw;
  justify-content: space-between;
}

#patientForm div {
  padding-top: 1vh;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 62vw;
}

.nav-content button {
  padding: 1% 2% 1%;
  background-color: rgb(241, 241, 241);
  border-radius: 2vw;
  width: 11vw;
  border: none;
  margin-right: 8vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: bolder;
}

.nav-content button img {
  width: 2vw;
  height: auto;
}

.nav-content button p {
  font-size: 1vw;
}

.logo {
  width: 22vw;
  height: auto;
}

.content {
  min-height: 80%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content h1 {
  font-size: 2vw;
}

.buttonContainer {
  padding: 5vh 5vh 0 5vw;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  background-color: white;
  height: 45vh;
  width: 20vw;
  border: none;
  outline: none;
  border-radius: 5vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: box-shadow 0.3s ease;
}

button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.button h1 {
  padding-top: 5vh;
  font-size: 2vw;
}

.button p {
  font-size: 1vw;
}

.button img {
  top: 33%;
  left: 20%;
  position: absolute;
  height: 14vw;
  width: auto;
  z-index: 2;
}

.button#one img {
  left: 15%;
}

.button#two img {
  left: 30%;
}

.button#three img {
  left: 30%;
}

.buttonCircle {
  position: absolute;
  top: 40%;
  left: 25%;
  height: 10vw;
  width: 10vw;
  background-color: #c4d0ef;
  border-radius: 50%;
  z-index: 0;
  filter: blur(10px);
}

.footer {
  text-align: center;
  font-size: 1vw;
  padding-top: 5vh;
}

.footer h3 {
  font-size: 1.2vw;
}

.stressLevelContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.stressCircle {
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
}

.stressCircle#High {
  background-color: #ff7d7d;
}

.stressCircle#Moderate {
  background-color: #ffc165;
}

.stressCircle#Low {
  background-color: #83d286;
}

.stress-legend {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2vh 2vw 0 2vw;
}

.stress-legend p {
  padding-left: 0.5vw;
}

.patientgraph {
}
